// Colors
$red: #b5143b;
$black: #191919;
$main-container-width: 122rem;

//Media
$full-hd: 1900px;
$lg: 1440px;
$pc: 1280px;
$sm-pc: 1024px;
$tablet: 968px;
$sm-tablet: 768px;
$lg-mob: 600px;
$mob: 375px;
$i5: 320px;