@import "fonts";
@import "core";

body {
  font-family: CormorantUpright;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;

  // Set global fonts here
}

* {
  position: relative;
}

html {
  // MAIN REM VALUE
  font-size: 10px;
}

body {
  &.noscroll {
    height: 100vh;
    overflow: hidden;
  }
}

.hidden {
  display: none !important;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 122rem;
  padding: 0 3rem;
}

section {
  overflow: hidden;
  z-index: 1;
}