@import "../core";

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  // Set global fonts here
}

* {
  position: relative;
}

html {
  font-size: 10px;
  background-color: $bgColor;
  scroll-behavior: smooth;
}

body {
  font-family: Golos, sans-serif;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &.menu-open {
    overflow: hidden;
    height: 100vh;
  }

  &.noscroll {
    height: 100vh;
    overflow: hidden;
  }
}

.hidden {
  display: none !important;
}

.container,
[class*="__container"] {
  margin: 0 auto;
  width: 100%;
  max-width: rem($maxWidthContainer);
  padding: 0 rem(calc($containerPadding/2));
}

section {
  overflow: hidden;
  z-index: 1;
  padding: 6rem 0;
}

.tac {
  text-align: center;
  margin: 0 auto;
}

main {
  padding-top: 8rem;
  flex: 1;
}

[class*="grid"] + [class*="grid"] {
  margin-top: rem($gridPadding);
}

.grid-2,
.grid-3,
.grid-4 {
  & > div,
  & > a {
    &:not(:first-child) {
      margin-top: rem($gridPadding);
    }

    @include minw($mob) {
      
      width: calc(50% - rem(calc($gridPadding/2)));
      
      &:nth-child(-n+2) {
        margin-top: 0;
      }
    }
  }

  @include minw($mob) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@include minw($sm-pc) {
  .grid-3,
  .grid-4 {
    justify-content: flex-start;

    & > div,
    & > a {
      width: calc(33.33% - rem(calc($gridPadding/1.5)));
      
      &:nth-child(-n+3) {
        margin-top: 0;
      }
  
      &:not(:nth-child(3n+3)) {
        margin-right: rem($gridPadding);
      }
    }
  }
}

@include minw($pc) {
  .grid-4 {
    & > div,
    & > a {
      width: calc(25% - rem(calc($gridPadding/1.3333333333)));
      
      &:nth-child(-n+4) {
        margin-top: 0;
      }

      &:nth-child(4n+4) {
        margin-right: 0;
      }
  
      &:not(:nth-child(4n+4)) {
        margin-right: rem($gridPadding);
      }
    }
  }
}