
//===========================
// Основные цвета
//===========================
$bgColor: #fff;
$mainColor: #000;
$red: #b5143b;
$black: #191919;


//===========================
// Настройки адаптивной сетки 
//===========================

$minWidth: 320; // Минимальная ширина страницы
$maxWidth: 1920; // Ширина макета
$maxWidthContainerWide: 1400; // Ширина ограничивающего дополнительного контейнера (0 = нет ограничения)
$maxWidthContainer: 1170; // Ширина ограничивающего контейнера (0 = нет ограничения)
$containerPadding: 40; // Отступ у контейнера (30 = по 15px слева и справа)
$containerWidth: $maxWidthContainer + $containerPadding; // Ширина срабатывания брейкпоинта при полном размере контейнера

// Брейкпоинты
$uhd: 2160px;
$fhd: 1900px;
$lg: 1400px;
$pc: $containerWidth;
$sm-pc: 992px;
$tablet: 768px; 
$mob: 576px;
$i5: 320px;

// Подсказка:
// 2560 - 992 ПК, ноутбуки
// 992 - 768 Планшет
// 750 - 600 Горизонтальный моб
// 600 - 320 Моб

// Старые брейкпоинты
// $lg: 1440px;
// $pc: 1280px;
// $sm-pc: 1024px;
// $tablet: 968px;
// $sm-tablet: 768px;
// $lg-mob: 600px;
// $mob: 375px;
// $i5: 320px;